body{
	margin: 0;
	padding: 0;
	background: #502c40;
	font-family: sans-serif;
}
.product{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:240px;
	height: 340px;
	background:#fff;
	box-shadow: 4px 8px 15px rgb(0,0,0,0.50);
	border-radius: 5px;
	overflow: hidden;
}
.product .imgbox{
	height: 100%;
	box-sizing: border-box;
	background:#fff;
}
.product .imgbox img{
	width:90%;
	display:block;
	margin: 20px auto 0;
}
.details{
	position: absolute;
	width: 100%;
	bottom: -130px;
	background: #fff;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 0 0 0 rgb(0,0,0,0);
	transition: 0.5s;
}
.product:hover .details{
	bottom: 0;
	box-shadow: 0 -5px 15px rgba(0,0,0,.25);
}
.details h2{
	margin: 0;
	padding:0;
	font-size: 16px;
	width:100%;
}
.details h2 span{
	font-style: 12px;
	font-weight: normal;
	color:#ccc;
}
.details .price{
	top:10px;
	right:20px;
	position: absolute;
	font-weight: bold;
	color:#153d1a;
	font-size:20px;
}
label{
	display: block;
	margin-top:5px;
	font-size: 14px;
	font-weight: bold;
}
ul{
	margin:0;
	padding:0;
	display: flex;
}
ul li{
	list-style-type: none;
	font-size: 14px;
	font-weight: normal;
	margin:5px 5px 0;
	color:#ccc;
}
ul li:first-child{
	margin-left: 0;
}
ul.colors li{
	width: 16px;
	height:16px;
}
ul.colors li:nth-child(1){
	background:#ff0;
}
ul.colors li:nth-child(2){
	background:#f00;
}
ul.colors li:nth-child(3){
	background:#f0f;
}
ul.colors li:nth-child(4){
	background:#0ff;
}
ul.colors li:nth-child(5){
	background:#00f;
}
a{
	display: block;
	text-decoration: none;
	margin:15px 0 0;
	color:#fff;
	background: #ff4faf;
	text-align: center;
	cursor: pointer;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 2px 0px 8px #542f4459;
}
a:hover{
	background: #ff209a;
}






















